.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: black;
  color: #fff;
  text-align: start;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  /* top: -5px; */
  top: 105%;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  /* At the bottom of the tooltip */
  top: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}