#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.refresh {
  background-color: darkcyan;
  color: white;
  padding: 5px 10px 5px 10px;
}

.loading {
  padding: 5em;
  color: black;
}

.status {
    color: black;
    margin-top: 20px;
    font-size: .5rem;
    text-align: left;
}