#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.refresh {
  /* margin: 15px 0 5px 0; */
  background-color: darkcyan;
  color: white;
  padding: 5px 10px 5px 10px;
}

.loading {
  /* background-color: black; */
  padding: 5em;
  color: black;
}