button.refresh {
  background-color: darkslategray;
  color: whitesmoke;
  outline-style: outset;
  outline-width: 5px;
  margin: 5px 5px 5px 5px;
}

statusbar {
  margin-top: 5px;
  font-size: 12px;
}

statusbar.error {
  color: red;
}

item {
  border-radius: 20px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

item.current {
  background-color: lightskyblue;
  padding-top: 10px;
}

item.warning {
  background-color: lightcoral;
  padding: 10px 10px 10px 10px;
  color: whitesmoke;
  font-weight: bold;
}

spinner {
  min-height: 50px;
  min-width: 50px;
}

temperature {
  border-radius: 100%;
  padding: 2px 2px 2px 2px;
  color: white;
  min-width: 35px;
  min-height: 35px;
  /* min-width: 3em; */
  /* min-height: 3em; */
}

temperature.high {
  background-color: darkred;
}

temperature.low {
  background-color: blue;

}

temperature.current {
  background-color: darkcyan;
}

.dayofweek {
  font-weight: bold;
  min-width: 110px;
  text-align: start;
}

description {
  border-radius: 20px;
  min-width: 10em;
  background-color: antiquewhite;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 5px;
}

description.day {
  background-color: lightgoldenrodyellow;
  color: black;
}

description.night {
  background-color: darkblue;
  color: white;
}